.App {
  text-align: center;
  margin: 0 auto;
}

ul {
justify-content: center;
border-bottom: black dotted;

}

 li {
  list-style: none;
  padding: 20px;
  
}

a {
  font-size: large;
  color: black;
  text-decoration: none;
}

form {
  padding: 10px;
}

label {
  padding: 10px;
}

input {
  padding: 10px;
}